<h4>
    <i class='fa fa-book-reader'></i> 
    Story Books
</h4>

<div class='section'>
    <p class='lead'>Create Public and Private Stories from Your Life</p>
</div>

<div class='divider'></div>

<div class='section'>

    <a href='/auth/google' class='btn darken-1 red'>
        <i class='fab fa-google left'></i>
         Log in With Google
    </a>

</div>